/* Login.css */

body {
    background-color: #f0f2f5; /* Light background color */
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 100vh; /* Full height of the viewport */
    max-width: 400px;
  }
  
  .login-title {
    text-align: center; /* Center the title text */
    margin-bottom: 20px; /* Space below the title */
  }

  .logo {
    width: 100px; /* Adjust the size as needed */
    margin-right: 10px; /* Space between the logo and text */
    vertical-align: middle; /* Align the logo vertically with the text */
  }

  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .floating-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .floating-input:focus {
    border-color: #007bff; /* Adjust the focus color */
  }
  
  .input-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 22px;
    color: #aaa; /* Adjust color */
    transition: 0.2s ease all;
  }
  
  .floating-input:focus + label,
  .floating-input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #007bff; /* Adjust the label color when focused */
  }

  label {
    font-size: 1.5em; /* Increase font size for labels */
  }

  input {
    padding: 10px;
    font-size: 1.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
  }


  h1 {
    color: #333; /* Dark text color */
    font-size: 45px;
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spacing between elements */
    background-color: #fff; /* White background for the form */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
 
  
  button {
    padding: 10px; /* Padding inside the button */
    background-color: #010101; /* Blue background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners for button */
    cursor: pointer; /* Pointer cursor */
    font-size: 20px; /* Font size */
    width: 110%;
  }
  
  button:hover {
    background-color: #8da3ba; /* Darker blue on hover */
  }

  .create-account {
    display: block; /* To ensure it takes up full width */
    text-align: center; /* Center text */
    margin-top: 1rem; /* Space above the link */
    color: #007BFF; /* Link color */
    text-decoration: none; /* Remove underline */
  }
  
  .create-account:hover {
    text-decoration: underline; /* Underline on hover */
  }
  